<a href="https://colab.research.google.com/github/avinashLam/aviansh_portfolio/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
a=pd.DataFrame([("Abhi","Lam",20),
                ("vamsi","Ga",22),
                ("giri","galal",30),
                ("aki","kala")],
               columns=("Name","Initial","Age"))
a

    Name Initial   Age
0   Abhi     Lam  20.0
1  vamsi      Ga  22.0
2   giri   galal  30.0
3    aki    kala   NaN

In [44]:
import pandas as pd
b=pd.DataFrame([("Abhi","Lam",20),
                ("ajsy","Guntu",22),
                ("srinu","guddu",30)],
               columns=("Name","Initial","Age"))
b

    Name Initial  Age
0   Abhi     Lam   20
1   ajsy   Guntu   22
2  srinu   guddu   30

In [79]:
a.append(b)

    Name Initial   Age
0   Abhi     Lam  20.0
1  vamsi      Ga  22.0
2   giri   galal  30.0
3    aki    kala   NaN
0   Abhi     Lam  20.0
1   ajsy   Guntu  22.0
2  srinu   guddu  30.0

In [80]:
a.append(b,ignore_index=True,verify_integrity=True)

    Name Initial   Age
0   Abhi     Lam  20.0
1  vamsi      Ga  22.0
2   giri   galal  30.0
3    aki    kala   NaN
4   Abhi     Lam  20.0
5   ajsy   Guntu  22.0
6  srinu   guddu  30.0

In [81]:
a.append(b,ignore_index=True,sort=True,verify_integrity=False)

    Age Initial   Name
0  20.0     Lam   Abhi
1  22.0      Ga  vamsi
2  30.0   galal   giri
3   NaN    kala    aki
4  20.0     Lam   Abhi
5  22.0   Guntu   ajsy
6  30.0   guddu  srinu

MERGE

In [82]:
df=pd.merge(a,b,on="Age")
df

  Name_x Initial_x   Age Name_y Initial_y
0   Abhi       Lam  20.0   Abhi       Lam
1  vamsi        Ga  22.0   ajsy     Guntu
2   giri     galal  30.0  srinu     guddu

In [83]:
df=pd.merge(a,b,on="Name")
df

   Name Initial_x  Age_x Initial_y  Age_y
0  Abhi       Lam   20.0       Lam     20

In [42]:
df=pd.merge(a,b,on="Initial")
df

Empty DataFrame
Columns: [Name_x, Initial, Age_x, Name_y, Age_y]
Index: []

In [84]:
df=pd.merge(a,b,how="inner")
df

   Name Initial   Age
0  Abhi     Lam  20.0

In [85]:
df=pd.merge(a,b,how="outer",indicator=True)
df

    Name Initial   Age      _merge
0   Abhi     Lam  20.0        both
1  vamsi      Ga  22.0   left_only
2   giri   galal  30.0   left_only
3    aki    kala   NaN   left_only
4   ajsy   Guntu  22.0  right_only
5  srinu   guddu  30.0  right_only

In [86]:
df=pd.merge(a,b,how="left",indicator=True)
df

    Name Initial   Age     _merge
0   Abhi     Lam  20.0       both
1  vamsi      Ga  22.0  left_only
2   giri   galal  30.0  left_only
3    aki    kala   NaN  left_only

In [87]:
df=pd.merge(a,b,how="right")
df

    Name Initial   Age
0   Abhi     Lam  20.0
1   ajsy   Guntu  22.0
2  srinu   guddu  30.0

In [88]:
df=pd.merge(a,b,on="Age",suffixes=('_left',"_right"))
df

  Name_left Initial_left   Age Name_right Initial_right
0      Abhi          Lam  20.0       Abhi           Lam
1     vamsi           Ga  22.0       ajsy         Guntu
2      giri        galal  30.0      srinu         guddu

CONCATENATION

In [89]:
pd.concat([a,b],ignore_index=True)

    Name Initial   Age
0   Abhi     Lam  20.0
1  vamsi      Ga  22.0
2   giri   galal  30.0
3    aki    kala   NaN
4   Abhi     Lam  20.0
5   ajsy   Guntu  22.0
6  srinu   guddu  30.0

In [94]:
pd.concat([a,b],keys=["india","ak"])

          Name Initial   Age
india 0   Abhi     Lam  20.0
      1  vamsi      Ga  22.0
      2   giri   galal  30.0
      3    aki    kala   NaN
ak    0   Abhi     Lam  20.0
      1   ajsy   Guntu  22.0
      2  srinu   guddu  30.0

In [97]:
df=pd.concat([a,b],axis=1)
df

    Name Initial   Age   Name Initial   Age
0   Abhi     Lam  20.0   Abhi     Lam  20.0
1  vamsi      Ga  22.0   ajsy   Guntu  22.0
2   giri   galal  30.0  srinu   guddu  30.0
3    aki    kala   NaN    NaN     NaN   NaN

In [71]:
pd.concat([a,b],ignore_index=True,join="inner",axis=1)

       0      1     2      3      4   5
0   Abhi    Lam  20.0   Abhi    Lam  20
1  vamsi     Ga  22.0   ajsy  Guntu  22
2   giri  galal  30.0  srinu  guddu  30

In [72]:
pd.concat([a,b],ignore_index=True,join="inner",axis=0)

    Name Initial   Age
0   Abhi     Lam  20.0
1  vamsi      Ga  22.0
2   giri   galal  30.0
3    aki    kala   NaN
4   Abhi     Lam  20.0
5   ajsy   Guntu  22.0
6  srinu   guddu  30.0

In [73]:
pd.concat([a,b],ignore_index=True,join="outer",axis=1)

       0      1     2      3      4     5
0   Abhi    Lam  20.0   Abhi    Lam  20.0
1  vamsi     Ga  22.0   ajsy  Guntu  22.0
2   giri  galal  30.0  srinu  guddu  30.0
3    aki   kala   NaN    NaN    NaN   NaN

In [104]:
import pandas as pd
a=pd.DataFrame([("Abhi","Lam",20),
                ("vamsi","Ga",22),
                ("giri","galal",30),
                ("aki","kala")],
               columns=("Name","Initial","Age"),
               index=[0,1,2,3])
a

    Name Initial   Age
0   Abhi     Lam  20.0
1  vamsi      Ga  22.0
2   giri   galal  30.0
3    aki    kala   NaN

In [106]:
import pandas as pd
b=pd.DataFrame([("Abhi","Lam",20),
                ("ajsy","Guntu",22),
                ("srinu","guddu",30)],
               columns=("Name","Initial","Age"),
               index=[1,0,2])
b

    Name Initial  Age
1   Abhi     Lam   20
0   ajsy   Guntu   22
2  srinu   guddu   30

In [107]:
pd.concat([a,b],axis=1)

    Name Initial   Age   Name Initial   Age
0   Abhi     Lam  20.0   ajsy   Guntu  22.0
1  vamsi      Ga  22.0   Abhi     Lam  20.0
2   giri   galal  30.0  srinu   guddu  30.0
3    aki    kala   NaN    NaN     NaN   NaN